<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maksut"
        tools:targetApi="31">
        <!-- Asetukset-aktiviteetti -->
        <activity android:name=".SettingsActivity" />
        <!-- Kieli-aktiviteetti -->
        <activity android:name=".LanguageActivity" />
        <!-- Ulkoasu-aktiviteetti -->
        <activity android:name=".AppearanceActivity" />
        <!-- Yksityisyys & Turvallisuus -aktiviteetti -->
        <activity android:name=".PrivacySecurityActivity" />
        <!-- DataReset, AccessCode, DataImportExport -->
        <activity android:name=".DataResetActivity" />
        <activity android:name=".AccessCodeActivity" />
        <activity android:name=".DataImportExportActivity" />
        <!-- Valikko / Hallitse lainoja-aktiviteetti -->
        <activity android:name=".ManagePaymentsActivity" />

        <!-- Ei label-attribuuttia, koska sovelluksen @string/app_name on käytössä jo ylempänä -->
        <activity android:name=".AddSalaryActivity" />
        <activity android:name=".AddExpenseActivity" />
        <activity android:name=".AddCreditActivity" />
        <activity android:name=".AddLoanActivity" />
        <activity android:name=".AddInsuranceActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
